.name--highlighted {
  color: red;
  font-size: 25px;
}
.App {
  width: 100vw;
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-width: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-logo {
  width: 100px;
  height: 100px;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: brown;
}

.header-nav a {
  text-decoration: none;
  color: thistle;
}
.header-nav a:hover {
  box-shadow: darkgray 0px 1px 5px 4px;
  border-radius: 5px;
  transition-duration: 0.5s;
  background:darkgray;
  color: white;
}

.content>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
}

.img-one {
  grid-row: span 2;
}
.img-two {
  grid-row: span 2;
  grid-column: span 3;
}
.img-thre {
  grid-column: span 2;
  grid-row: span 2;
}
.img-four {
  grid-column: span 2;
  grid-row: span 2;
}
.img-five {
  grid-column: span 4;
}

section {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
}

.sidebar {
  height: 100%;
  position: relative;
  background: url(../public/image/lamba.jpeg) 0 0 / cover no-repeat ;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 15%;
  background: rgba(100, 148, 237, 0.308);
  border-radius: 10px;
}

input {
  width: 80%;
  height: 10%;
  border-radius: 10px;
  border-style: none;
}
label {
  color: thistle;
  text-transform: uppercase;
}

.form-button {
  width: 40%;
  height: 10% ;
  border-radius: 5px;
  border-style: none;

}
.form-button:hover {
  background-color:rgb(137, 94, 177);
  color: thistle;  
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
}
footer>a {
  color: thistle;  
}

.mouse {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid brown;
  border-radius: 20px;
  background-color: cornflowerblue;
  color: white;
  margin: 0 auto;
}

.container{
  width: 100vw;
  height: 100vh;
}

.figure {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(247, 8, 8);
  border-radius: 50%;
  background-color: rgb(243, 9, 9);
  display: flex;
  align-items: center;
  justify-content: center;
}



body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(199, 233, 148, 1) 100%
  );
}

h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #21aeca;
}

.accordion-title:hover {
  background-color: #3ab4cc;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #39b9d2;
}

.style-daccordion {
  border: solid 1px black;
    border-radius: 4px;
    text-align: center;
    background-color: #39b9d2;

}

.style-accordion__item {
  align-items: center;
    background: none;
    border: none;
    display: flex;
    font-weight: normal;
    font-size: 1em;
    justify-content: space-between;
    padding: 10px;
    /* text-align: left; */
    width: 100%;
}
.element {
  display: flex;
  /* justify-content: space-around; */
  background-color: rgb(137, 94, 177);
}

.item {
  border-top: 1px solid black;
}
.item:first-child {
  border-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.item:last-child {
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}
.item:nth-child(odd){ 
background-color: #F0F0F0;
}

.expandable-section {
  background: #e8f4f8;
    border-top: solid 1px black;
    padding: 10px;
    padding-left: 20px;
}

.routes {
  height: 50px;
  background-color: #21aeca;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.link {
  color: peachpuff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: larger;
}